* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.provider-upcoming-services-cont {
    background-color: azure;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.appointment-cont {
    list-style-type: none;
    margin: 20px;
    font-size: 20px;
}

.each-appointment {
    padding: 30px;
    margin: 30px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width: 768px) {
    .provider-upcoming-services-cont {
        min-height: 100vh;
    }
}
